/**
 * Custom styles here
 */
.app-wrapper {
  height: 100%;
  width: 100%;
}
.app-wrapper, .app-wrapper body {
  background-color: #434a54;
  color: #aab2bd;
}

.app {
  margin-top: 60px;
  text-align: center;
}
.app .app-header {
  margin-bottom: 40px;
}
.app .app-github-icon {
  text-align: center;
  margin-bottom: 20px;
  font-size: 10em;
  color: #aab2bd;
}
.app .app-username-input {
  border: none;
  border-radius: 0;
  border-bottom: 3px dotted #aab2bd;
  text-align: center;
  height: 80px;
  font-size: 1.8em;
  background-color: #434a54;
  margin-bottom: 20px;
}
.app .app-username-input,
.app ::-webkit-input-placeholder {
  color: #5a6370;
}
.app .error-list, .app .info-list {
  list-style: none;
  padding-left: 0px;
}
.app .user-card .user-card-header .user-card-avatar {
  vertical-align: middle;
  height: 50px;
  left: 50px;
  margin-right: 13.33333px;
}
.app .user-card .user-card-header .user-card-username {
  color: #434a54;
  vertical-align: middle;
  font-size: 2.5em;
}
.app .card {
  text-align: left;
}
.app .card .card-inner {
  background-color: #aab2bd;
  border-radius: 6px;
  color: #434a54;
  min-height: 100px;
  margin-bottom: 20px;
  padding: 20px 13.33333px;
}
.app .repo-card {
  min-height: 120px;
}
.app .repo-card .repo-card-header {
  margin-bottom: 10px;
  text-align: justify;
}
.app .repo-card .repo-card-header .repo-card-name {
  font-size: 2em;
  color: #656d78;
  margin-bottom: 10px;
}
.app .repo-card .repo-card-header .repo-card-username {
  font-size: 1.25em;
  color: #656d78;
}
.app .repo-card .repo-card-inner {
  transition: 0.1s linear;
}
.app .repo-card .repo-card-inner:hover {
  cursor: pointer;
  background-color: #656d78;
}
.app .repo-card .repo-card-inner:hover, .app .repo-card .repo-card-inner:hover .repo-card-name {
  color: #fefefe;
}
.app .commit-card .commit-card-commit {
  list-style: none;
  padding-left: 0px;
}

.hello {
  margin-top: 100px;
}
.hello .hello-tools-used .list-group-item::before {
  content: '//';
  margin-right: 10px;
  color: #bdbdbd;
  font: 1em sans-serif;
}
