/**
 * Custom styles here
 */
.hello {
  margin-top: 100px;
}
.hello .hello-tools-used .list-group-item::before {
  content: '//';
  margin-right: 10px;
  color: #bdbdbd;
  font: 1em sans-serif;
}

.app-wrapper {
  height: 100%;
  width: 100%;
}
.app-wrapper, .app-wrapper body {
  background-color: #434a54;
  color: #656d78;
}

.app {
  margin-top: 80px;
  text-align: center;
}
.app .app-github-icon {
  text-align: center;
  font-size: 12.5em;
  margin-bottom: 20px;
}
.app .app-username-input {
  border: none;
  border-radius: 0;
  border-bottom: 3px dashed #656d78;
  text-align: center;
  height: 80px;
  font-size: 2em;
  background-color: #434a54;
}
.app .app-github-icon,
.app .app-username-input,
.app ::-webkit-input-placeholder {
  color: #656d78;
}
