/**
 * Custom styles here
 */

$offWhite: #fefefe;
$lightBlue: #5D9CEC;
$blue: #4A89DC;
$mint: #37BC9B;
$lightMint: #48CFAD;
$lightAqua: #4FC1E9;
$aqua: #3BAFDA;
$lightGray: #E6E9ED;
$mediumGray: #CCD1D9;
$gray: #AAB2BD;
$darkGray: #656D78;
$darkerGray: #434A54;

$primaryColor: $darkerGray;
$secondaryColor: $gray;
$tertiaryColor: $lightAqua;

$vGutter: 20px;
$hGutter: $vGutter / 1.5;

.app-wrapper {
    height: 100%;
    width: 100%;

    &, body {
        background-color: $primaryColor;
        color: $secondaryColor;
    }
}

.app {
    margin-top: 60px;
    text-align: center;

    .app-header {
        margin-bottom: $vGutter * 2;
    }

    .app-github-icon {
        text-align: center;
        margin-bottom: $vGutter;
        font-size: 10em;
        color: $secondaryColor;
    }

    .app-username-input {
        border: none;
        border-radius: 0;
        border-bottom: 3px dotted $secondaryColor;
        text-align: center;
        height: 80px;
        font-size: 1.8em;
        background-color: $primaryColor;
        margin-bottom: $vGutter;
    }

    .app-username-input,
    ::-webkit-input-placeholder {
        color: lighten($primaryColor, 10%);
    }

    .error-list, .info-list {
        list-style: none;
        padding-left: 0px;
    }

    .user-card {

        .user-card-header {

            .user-card-avatar {
                vertical-align: middle;
                height: 50px;
                left: 50px;
                margin-right: $hGutter;
            }

            .user-card-username {
                color: $primaryColor;
                vertical-align: middle;
                font-size: 2.5em;
            }

        }

    }

    .card {
        text-align: left;
    }

    .card .card-inner {
        background-color: $secondaryColor;
        border-radius: 6px;
        color: $primaryColor;
        min-height: 100px;
        margin-bottom: $vGutter;
        padding: $vGutter $hGutter;
    }

    .repo-card {
        min-height: 120px;

        .repo-card-header {
            margin-bottom: $vGutter / 2;
            text-align: justify;

            .repo-card-name {
                font-size: 2em;
                color: $darkGray;
                margin-bottom: $vGutter / 2;
            }

            .repo-card-username {
                font-size: 1.25em;
                color: $darkGray;
            }
        }

        .repo-card-inner {
            transition: 0.1s linear;

            &:hover {
                cursor: pointer;
                background-color: $darkGray;

                &, .repo-card-name {
                    color: $offWhite;
                }
            }
        }
    }

    .commit-card {
        .commit-card-commit {
            list-style: none;
            padding-left: 0px;
        }
    }

}

.hello {
    margin-top: 100px;

    .hello-tools-used .list-group-item::before {
        content: '//';
        margin-right: 10px;
        color: #bdbdbd;
        font: 1em sans-serif;
    }
}