/**
 * Custom styles here
 */

.hello {
    margin-top: 100px;

    .hello-tools-used .list-group-item::before {
        content: '//';
        margin-right: 10px;
        color: #bdbdbd;
        font: 1em sans-serif;
    }
}

$lightBlue: #5D9CEC;
$blue: #4A89DC;

$lightGray: #E6E9ED;
$mediumGray: #CCD1D9;
$gray: #AAB2BD;
$darkGray: #656D78;
$darkerGray: #434A54;

$primaryColor: $mediumGray;
$secondaryColor: $gray;

.app-wrapper {
    height: 100%;
    width: 100%;

    &, body {
        background-color: $primaryColor;
        color: $secondaryColor;
    }
}

.app {
    margin-top: 60px;
    text-align: center;

    .app-github-icon {
        text-align: center;
        font-size: 8em;
        margin-bottom: 30px;
    }

    .app-username-input {
        border: none;
        border-radius: 0;
        border-bottom: 3px dashed $secondaryColor;
        text-align: center;
        height: 80px;
        font-size: 1.8em;
        background-color: $primaryColor;
        margin-bottom: 20px;
    }

    .app-github-icon,
    .app-username-input,
    ::-webkit-input-placeholder {
        color: $secondaryColor;
    }

    .user-card {
        .user-card-inner {
            background-color: $secondaryColor;
            color: $primaryColor;
            min-height: 200px;
            margin-bottom: 20px;
        }
    }
}