/bootstrap/compiled.php
/vendor
/node_modules
/bower_components
/.sass-cache
/public/css
/public/js
/public/img
/public/php_errors.log
npm-debug.log
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
